public/Jewelry Product Image Classification and Analysis.json
{
  "name": "Jewelry Product Image Classification and Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jewelry-classification",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "8ef6bbad-b6c2-4c19-811a-554650148370",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        1136
      ],
      "webhookId": "337cbaf2-6779-4e3c-be1c-bc3fd95f21a2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "imageUrl",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "textInput",
              "value": "hello",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f57f0145-81c1-4d88-883d-68f3e98f10f9",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        1136
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Image URL: {{ $json.imageUrl }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert image classification AI specialized in jewelry and fashion photography.\n\nYour task is to analyze the provided image and classify it into one of these categories:\n1. professional_model_shot - Images featuring a professional model wearing jewelry (fashion photography, lifestyle shots)\n2. product_jewelry_gemstone - Product photography of jewelry or gemstones (isolated product shots, close-ups, catalog images)\n3. other - Any other type of image that doesn't fit the above categories\n\nAnalyze the image carefully considering:\n- Presence of human models vs isolated products\n- Photography style and composition\n- Focus on jewelry/gemstones vs other subjects\n- Professional photography characteristics\n\nProvide your classification with confidence score (0-100), a brief description of what you see, and reasoning for your classification."
        }
      },
      "id": "9e9cd5c0-eaf9-4101-8fba-f2354e70fc01",
      "name": "Image Classification Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        1024
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "26e426d5-e3e6-4f80-aa82-1cb66618f5e9",
      "name": "OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        816,
        1232
      ],
      "credentials": {
        "openAiApi": {
          "id": "O0Qt22noR1jwT9qh",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"imageType\": {\n      \"type\": \"string\",\n      \"enum\": [\"professional_model_shot\", \"product_jewelry_gemstone\", \"other\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\"\n    },\n    \"description\": {\n      \"type\": \"string\"\n    },\n    \"reasoning\": {\n      \"type\": \"string\"\n    }\n  }\n}"
      },
      "id": "a245217f-0a5a-45d6-8a50-61a2ffb2c2a8",
      "name": "Classification Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        960,
        1248
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.textInput }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "7b26efbf-42d6-4498-a80b-6d78beb7cd50"
                  },
                  {
                    "leftValue": "={{ $json.imageUrl }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "650047ed-3178-4657-ba5e-1651c097b5de"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Only"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.imageUrl }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "ec6f8181-a815-4386-a536-2bab80a0223e"
                  },
                  {
                    "leftValue": "={{ $json.textInput }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "df4cbc4b-7612-4310-8bfe-68aa9aac944c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image Only"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.textInput }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "6ac4e2d1-3c84-4f74-89cf-2ad24b554159"
                  },
                  {
                    "leftValue": "={{ $json.imageUrl }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "d3298ed2-effc-4167-b2d3-06e70716b4ea"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Both"
            }
          ]
        },
        "options": {}
      },
      "id": "f47d28ce-981d-4fea-8647-c373a46fb99c",
      "name": "Route by Input Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        592,
        1120
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.textInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert intent classification AI for a WhatsApp chatbot serving a jewelry business.\n\nYour task is to analyze the user's message and classify it into one of these intent categories:\n\n1. suggestion - User is providing suggestions or ideas for improvement\n2. query - User is asking a general question about products, services, or processes\n3. support - User needs technical help or assistance with an issue\n4. review - User is providing feedback or a review about a product/service\n5. information - User is requesting specific information (catalog, details, specifications)\n6. feedback - General feedback about experience or service\n7. greeting - User is greeting or starting a conversation (hi, hello, etc.)\n8. model_shot_required - User is requesting or inquiring about professional model photography services\n9. gemstone_shot_required - User is requesting or inquiring about gemstone/product photography services\n10. pricing_cost - User is asking about prices, costs, or quotes\n11. credits_needed - User is inquiring about credits, payment, or account balance\n12. unknown - Message intent is unclear or doesn't fit any category\n\nAnalyze the message carefully and provide:\n- The most appropriate intent type\n- Confidence score (0-100)\n- Brief summary of the message\n- Reasoning for your classification"
        }
      },
      "id": "fab58275-d8a1-4c89-8ba0-0e088fb5503b",
      "name": "Text Intent Classification Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        624
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Text: {{ $json.textInput }}\n\nImage URL: {{ $json.imageUrl }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert classification AI for a WhatsApp chatbot serving a jewelry business. You analyze both text messages and images together.\n\nYour task is to:\n1. Classify the TEXT INTENT into one of these categories:\n   - suggestion, query, support, review, information, feedback, greeting\n   - model_shot_required, gemstone_shot_required, pricing_cost, credits_needed, unknown\n\n2. Classify the IMAGE TYPE into one of these categories:\n   - professional_model_shot (model wearing jewelry)\n   - product_jewelry_gemstone (isolated product photography)\n   - other (anything else)\n\nAnalyze both the text and image together, as they provide context for each other. For example:\n- A message saying \"Can you shoot this?\" with a gemstone image = gemstone_shot_required intent\n- A greeting with a product image might indicate interest in that product\n\nProvide:\n- Intent type from the text\n- Image type from the image\n- Confidence score (0-100)\n- Text summary\n- Image description\n- Reasoning explaining how text and image relate"
        }
      },
      "id": "6e375230-6883-4709-8a08-8f1cdd78c147",
      "name": "Combined Classification Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        1536
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "90c2ae8e-2666-4b32-ae4b-955ac5baa99c",
      "name": "OpenAI GPT-4o Combined",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        832,
        1760
      ],
      "credentials": {
        "openAiApi": {
          "id": "O0Qt22noR1jwT9qh",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"intentType\": {\n      \"type\": \"string\",\n      \"enum\": [\"suggestion\", \"query\", \"support\", \"review\", \"information\", \"feedback\", \"greeting\", \"model_shot_required\", \"gemstone_shot_required\", \"pricing_cost\", \"credits_needed\", \"unknown\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\"\n    },\n    \"summary\": {\n      \"type\": \"string\"\n    },\n    \"reasoning\": {\n      \"type\": \"string\"\n    }\n  }\n}"
      },
      "id": "f07ccd79-18de-49c7-a9e5-e4863c9e10f4",
      "name": "Text Intent Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        960,
        848
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"intentType\": {\n      \"type\": \"string\",\n      \"enum\": [\"suggestion\", \"query\", \"support\", \"review\", \"information\", \"feedback\", \"greeting\", \"model_shot_required\", \"gemstone_shot_required\", \"pricing_cost\", \"credits_needed\", \"unknown\"]\n    },\n    \"imageType\": {\n      \"type\": \"string\",\n      \"enum\": [\"professional_model_shot\", \"product_jewelry_gemstone\", \"other\"]\n    },\n    \"confidence\": {\n      \"type\": \"number\"\n    },\n    \"textSummary\": {\n      \"type\": \"string\"\n    },\n    \"imageDescription\": {\n      \"type\": \"string\"\n    },\n    \"reasoning\": {\n      \"type\": \"string\"\n    }\n  }\n}"
      },
      "id": "b835edcd-dc8a-40ba-a0ea-bd6c6f75f4fb",
      "name": "Combined Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        960,
        1760
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "c68ce176-dae8-41e5-afa1-e82c6d48cd09",
      "name": "Merge Classifications",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        1120
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "16e7150a-d547-4229-8fbe-b0a68ec40333",
      "name": "OpenAI GPT-4o Text",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        832,
        848
      ],
      "credentials": {
        "openAiApi": {
          "id": "O0Qt22noR1jwT9qh",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "Image Classification Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classification Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Image Classification Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Route by Input Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Input Type": {
      "main": [
        [
          {
            "node": "Text Intent Classification Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Classification Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combined Classification Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Intent Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Text Intent Classification Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o Combined": {
      "ai_languageModel": [
        [
          {
            "node": "Combined Classification Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Combined Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Combined Classification Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Text Intent Classification Agent": {
      "main": [
        [
          {
            "node": "Merge Classifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Classification Agent": {
      "main": [
        [
          {
            "node": "Merge Classifications",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combined Classification Agent": {
      "main": [
        [
          {
            "node": "Merge Classifications",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI GPT-4o Text": {
      "ai_languageModel": [
        [
          {
            "node": "Text Intent Classification Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8944c78f-6281-4ad9-b99f-d355597003dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03ff7717eb09530fc3a9f7782c3be35c958d89651d45aa1d1f6f8a93ff24c574"
  },
  "id": "NarKMCvzfxkHk01G",
  "tags": []
}